// COLOR
$linear-gardient: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
$primary-color: #30c88f;
$primary-dark-color: #2d314d;
$text-color: #9597a5;
// FONTS
$font-family: "Public Sans", Arial, sans-serif;
